<fieldset>
  <legend class="marker">customers.component.html</legend>

  <div class="indent">

      <h2>Customers</h2>
      <p>The data below is retrieved from a service that calls
        a mock api that returns json data. The customers.component calls the  service in its
        <code>ngOnInit()</code> method. Each customer name links to the customer-detail
        component, passing the ID number as a parameter:
         <code> [routerLink]="['/customer-detail', customer.ID]</code>
      </p>

      <div class='panel panel-primary'>
        <div class='panel-heading'>
          Customers with Active Balances
        </div>

        <div class='panel-body'>

          <div class='table-responsive'>
            <table class='table'
                   *ngIf='customers && customers.length'>
              <thead>
              <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Balance</th>
              </tr>
              </thead>


              <tbody>
              <tr *ngFor='let customer of customers'>
                <td><a [routerLink]="['/customer-detail', customer.ID]">
                  {{customer.name.first}} {{ customer.name.last}}
                </a>
                </td>
                <td>{{customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.balance }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <!-- /container -->
  </div>
</fieldset>
