.inputBackground{
  border-left: 5px solid #ff0000;
  background-color: #FFEBD6;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
