<fieldset>
  <legend class="marker">customers.component.html</legend>

  <div class="indent">

    <!-- Bootstrap markup -->
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <br>
          <p>
            <!-- Icon courtesy of Iconfinder.com:
            https://www.iconfinder.com/icons/60159/analysis_check_review_search_search_docs_icon -->
            <img src="../assets/images/analysis.png" alt="not found">
          </p>

          <h2>
            <i class="fa fa-exclamation-triangle" style="color:red"></i>
            Page not found
          </h2>
          <p><small>404 error</small>
          </p>
        </div>

      </div>
    </div>

  </div>
</fieldset>
