<fieldset>
  <legend class="marker">parent.component.html</legend>

  <div class="indent">
    <h2>Nesting Components</h2>
    <div>
      First, create both parent and child components. The child component uses the selector
      <code>app-child</code> so we include that element inside the parent template.
      The variable inside the parent component that will be passed to the child component
      is called <code>searchTerm: string;</code> You then map that variable to the child component
      template like this: <code> &lt;app-child [searchTerm]="searchTerm"&gt; </code>

      <br/> <br/>
      The text entered into the textbox below is sent to the child component.
      <br/>
      <span>Enter text:</span>

      <input #searchBox (keyup.enter)="getData(searchBox.value)"
             id="searchField" value="fender stratocaster">

      <button (click)="getData(searchBox.value)">Send Data to Child Component</button>
    </div>


    <div class="row">
    <br/>
      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Manufacturer</h3>
          </div>
          <div class="panel-body">
           <ul class="list-unstyled">
             <li>Gibson</li>
             <li>Fender</li>
           </ul>
          </div>
        </div><!-- manufacturer -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Wood</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li>Alder</li>
              <li>Poplar</li>
            </ul>
          </div>
        </div><!-- wood -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Style</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li>Acoustic</li>
              <li>Electric</li>
            </ul>
          </div>
        </div><!-- wood -->


      </div> <!-- search facets -->


      <div class="col-md-9">

        <!-- nested child component goes here -->
        <fieldset>
          <legend class="marker">child.component.html</legend>

          <div class="indent">

            <app-child [searchTerm]="searchTerm"></app-child>

          </div>

        </fieldset>
      </div>

    </div> <!-- row -->


    <div>
      Source:
      <a href="https://angular.io/docs/ts/latest/cookbook/component-communication.html#!#parent-to-child">
        Component Interaction
      </a>
    </div>

  </div>

</fieldset>
