<fieldset>
  <legend class="marker">parameter-details.component.html</legend>

  <div class="indent">

    <h2>Parameter Details</h2>
    <p>The route for this page has no configuration to handle incoming parameters.
      The route configuration in app.module.ts is simply this:<br/>
      <code>
        path:'parameter-details', component: ParameterDetailsComponent
      </code>

    </p>
    <p>
      The parameters are handled via the Angular ActivatedRoute service. The calling page,
      parameters.component.html, links to this page by passing an object of optional parameters
      to the route like this:
      <!-- you have to escape the curly brace { by surrounding it with double curly braces -->
      <code>['/parameter-details', {{  '{' }} city: 'Montreal', code:'YUL' {{'}'}}]</code>
    </p>

    <p>
     The template handles the incoming route values just like properties of an object bound
    to this component. So the line below is written as:
      <code><span ngNonBindable>The code for {{city}} is {{code}}</span></code> where the values
    between curly braces are substituted for the values passed in via the route. </p>

    <div *ngIf="city">
    <h3>Handling Route Parameters </h3>
      <p>The code for <b>{{city}}</b> is {{code}}</p>
    </div>

    <div *ngIf="!city">
      There were no parameters passed to this component.
      <br/><br/>
    </div>

    <div> Parameters have been initialized:
    {{initialized}}</div>

    <div>
      <h3>
        Passing parameters to the same route via <code>[routerLink]</code> references:
      </h3>
      <ul>
        <li>
          <a [routerLink]="['/parameter-details', { city: 'Calgary', code:'YYC', country:'Canada'}]">Calgary, AB</a>
        </li>
        <li>
          <a [routerLink]="['/parameter-details', { city: 'Winnipeg', code:'YWG'}]">Winnipeg, MB</a>
        </li>
      </ul>
    </div>
    <h3>
      Passing <a href="http://air-travel.discoverfrance.net/airport_codes_ca.shtml>">parameters</a> to the same
      route programmatically.
    </h3>
    <div>
    <ul>
      <li>
        <a (click)="getRoute('Quebec', 'YQB')">Quebec, QC</a>
      </li>
      <li>
        <a (click)="getRoute('Halifax', 'YHZ')">Halifax, NS</a>
      </li>
    </ul>
    </div>


    <div>
      <a class='btn btn-default' routerLink="/parameters" style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Back
      </a>
    </div>
  </div>

</fieldset>
