<fieldset>
  <legend class="marker">facets.component.html</legend>

  <div class="indent">
    <h2>Facets</h2>

    <!-- display the selected facet/filter queries -->
    <span *ngIf="facetHistory">
      <span *ngFor="let f of facetHistory">

            <button (click)="removeFacet(f)"
                    class="btn btn-primary" type="button"> {{f.category}} > {{f.facetName}}
                   <span class="badge">✖</span>
            </button>

        </span>
    </span>


    <div class="row">
      <br/>
      <!-- Display facets -->
      <div class="col-md-3">

        <div *ngIf="facets">

          <div *ngFor="let facet of facets">

            {{facet.category}} -
            <a (click)="addFacet(facet)"> {{facet.facetName }}</a> ({{facet.total }})

          </div>

        </div>

      </div>

      <!-- Display search results -->
      <div class="col-md-9">
        <div>Sort by:
          <a href="#">Price</a> |
          <a href="#">Manufacturer</a>

        </div>

        <br/>
        <div>
          Assume you send an initial search for the word "guitar" as follows:
          http://localhost:7000/api/search/guitar
          <br/><br/>
          By filtering your search based on guitar manufacturer, wood, strings or style (or any
          arrangement of the criteria) you would send this query to your search
          engine:
        <br/><br/>
            <div *ngIf="facetHistory">
              http://localhost:7000/api/search/guitar
              <span *ngFor="let f of facetHistory">
                &fq={{f.category.toLowerCase()}}:"{{f.facetName.toLowerCase()}}"
              </span>

        </div>
        </div>

      </div>

    </div> <!-- row -->

  </div>

</fieldset>
