<fieldset>
  <legend class="marker">classes.component.html</legend>

  <div class="indent">
    <h2>Facets</h2>

    <!-- display the selected facet/filter queries -->
    <span *ngIf="facetHistory">
      <span *ngFor="let f of facetHistory">

            <button (click)="removeFacet(f)"
                    class="btn btn-primary" type="button"> {{f.category}} > {{f.facetName}}
                   <span class="badge">✖</span>
            </button>

        </span>
    </span>


    <div class="row">
      <br/>
      <!-- Display facets -->
      <div class="col-md-3">

        <div *ngIf="facets">

          <div *ngFor="let facet of facets">

            {{facet.category}} -
            <a (click)="addFacet(facet)"> {{facet.facetName }}</a> ({{facet.total }})

          </div>

        </div>

      </div>

      <!-- Display search results -->
      <div class="col-md-9">
      Sort by: <select>
        <option *ngFor="let option of sortOptions"
                (click)="setSortOrder(option.displayValue)">{{option.displayName}}</option>
      </select>
        <br/>
        <div>

          <p><b>Facet History for Displaying Labels</b></p>
          <div *ngIf="facetHistory">
            <span *ngFor="let f of facetHistory">
                {{f.category.toLowerCase()}} > {{f.facetName.toLowerCase()}}
              </span>
          </div>

          <!-- display search parameter array -->
          <br/>
          <p><b>Facet and Sort History to be sent to web api</b></p>
          <span *ngIf="facetQuery">
            http://localhost:7000/api/search/guitar
            <span *ngFor="let param of facetQuery">
              {{param}}
            </span>
          </span><code>{{sortSelection}}</code>
        </div>

      </div>

    </div> <!-- row -->

  </div>

</fieldset>
